spring:
  application:
    name: user-service

  datasource:
    url: jdbc:postgresql://localhost:5432/user_db
    username: postgres
    password: peter@135790

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true

  flyway:
    enabled: true

  data:
    redis:
      host: localhost
      port: 6379

  docker:
    compose:
      enabled: false

server:
  port: 8081
